@import "font_emeric";
@import "mo-style-variables";

body {

  font-family: Emeric;

  #header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 100;
    background-color: $core-black;
    border-bottom: 2px solid $core-green;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    display: inline-block;

    .logo {
      height: 2rem;
      display: inline-block;
      float: left;
    }

    .title {
      color: $core-white;
      font-weight: 300;
      font-size: 1.2em;
      display: inline-block;
      margin: 0px;
      margin-top: 0.32em;
      margin-left: 0.4em;
    }

  }

  #menuToggle {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, 0);

    background-image: url("/assets/textures/open-menu-dark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    height: 2rem;
    width: 20rem;
    z-index: 100;
    cursor: pointer;

    &:hover {
      background-image: url("/assets/textures/open-menu-lit.png");
    }

  }

  #typingContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    height:3rem;
    z-index: 100;
    margin-left:2rem;
    margin-bottom: 3rem;
    font-size:1.5em;

    .bg {
      width:100%;
      height:100%;
      padding-bottom:0.4rem;
      padding-top:0.4rem;
      opacity: 0.9;
      background-color: $core-black;
    }

    .text {
      position: relative;
      float: left;
      opacity: 1.0;
      margin: 0.4rem;
      line-height: 1.5rem;
      z-index: 101;
      color: $summer-blue;


      span.smaller {
        font-size: 0.6em;
        margin-top:0.4rem;
      }

    }

  }

}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  #header h1.title {
    display: none;
  }

}


@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}