@import "font_emeric";
@import "mo-style-variables";

$neon-blue:#94d9ff;

body {

  font-family: Emeric;

  #header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 100;
    background-color: $core-black;
    border-bottom: 2px solid $core-green;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    display: inline-block;

    .logo {
      height: 2rem;
      display: inline-block;
      float: left;
    }

    .title {
      color: $core-white;
      font-weight: 300;
      font-size: 1.2em;
      display: inline-block;
      margin: 0px;
      margin-top: 0.32em;
      margin-left: 0.4em;
    }

  }

  #menuToggle {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%, 0);

    background-image: url("/assets/textures/menu-toggle-open-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    height: 2.6rem;
    width: 80%;
    z-index: 100;
    cursor: pointer;

    .menuToggleText {
      color:$summer-blue;
      text-align: center;
      letter-spacing: 0.15rem;
      margin-top: 0.25rem;
      font-size: 1.1rem;
    }

    &:hover {
      .menuToggleText {
        color: $neon-blue;
      }
    }

  }

  #typingContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin-left:2rem;
    margin-bottom: 3rem;
    display: block;
    overflow-wrap: normal;

    .bg {
      width:100%;
      height:100%;
      opacity: 0.75;
      background-color: $core-black;
      position: absolute;
    }

    .text {
      position: relative;
      float: left;
      opacity: 1.0;
      line-height: 2.3rem;
      z-index: 101;
      color: $neon-blue;
      font-weight: 400;
      letter-spacing: 0.1rem;
      font-size:1.8em;
      padding-bottom:0.4rem;
      padding-top:0.4rem;
      padding-right: 0.2rem;
      padding-left: 0.2rem;
      margin-left: 0.3rem;
      max-width: 70vw;
      white-space: pre-wrap;

    }

    .typed-cursor{
      color: $neon-blue;
    }

  }

}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  #header h1.title {
    display: none;
  }

}